<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Register</title>
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                  <img src="https://www.svgrepo.com/show/55100/film.svg" alt="" width="35" height="25" class="d-inline-block align-text-top">
                  <p class="d-inline" style="font-weight: bold;">Funny Movies</p> 
                </a>

                <a class="btn btn-outline-primary my-2 my-sm-0" href="/login">Sign in</a>
            </div>
        </nav>

        <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
          
                          <form class="mx-1 mx-md-4" action="javascript:block()">
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <div class="form-floating flex-fill mb-0">
                                <input type="text" id="name" class="form-control" placeholder="Your Name"/>
                                <label for="name">Your Name</label>
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <div class="form-floating flex-fill mb-0">
                                <input type="email" id="username" class="form-control" placeholder="Username"/>
                                <label for="username">Username</label>
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <div class="form-floating flex-fill mb-0">
                                <input type="password" id="password" class="form-control" placeholder="Password" />
                                <label for="password">Password</label>
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <div class="form-floating flex-fill mb-0">
                                <input type="password" id="confirm-password" class="form-control" placeholder="Confirm your password"/>
                                <label for="confirm-password">Confirm your password</label>
                              </div>
                            </div>
                            
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              <button type="button" id="registerBtn" class="btn btn-primary btn-lg">Register</button>
                            </div>
          
                          </form>
          
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                            class="img-fluid" alt="Sample image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        
    </div>
    <div id="toast-panel" class="toast align-items-center position-fixed bottom-0 end-0 p-2 m-5" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
        <p id="toast-message" class="m-0"></p> 
       </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" onclick="closeToast()"></button>
      </div>
    </div>
    

    <script>
        function showToast(message, typ) {
          switch (typ) {
            case "error": 
              $("#toast-panel").css("background-color", "#f9e1e5");
              $("#toast-message").css("color", "#af233a");
              $("#toast-message").text(message);
              break;
            
            case "success":
              $("#toast-panel").css("background-color", "#d6f0e0");
              $("#toast-message").css("color", "#0d6831");
              $("#toast-message").text(message);
              break;
          }

          $("#toast-panel").addClass("show");
          setTimeout(function() {
            $("#toast-panel").removeClass("show");
          }, 3000);
        }
        
        function closeToast() {
          $("#toast-panel").removeClass("show");
        }

        $("#name").bind("change paste keyup", function(e) {
          if ($("#name").val() !== "") {
            $("#name").removeClass("is-invalid");
          }
        });

        $("#username").bind("change paste keyup", function(e) {
          if ($("#username").val() !== "") {
            $("#username").removeClass("is-invalid");
          }
        });

        $("#password").bind("change paste keyup", function(e) {
          if ($("#password").val() !== "") {
            $("#password").removeClass("is-invalid");
          }
        });

        $("#confirm-password").bind("change paste keyup", function(e) {
          if ($("#confirm-password").val() !== "") {
            $("#confirm-password").removeClass("is-invalid");
          }
        });


        $("#registerBtn").click(function(e) {
            let name = $("#name").val();
            let username = $("#username").val();
            let password = $("#password").val();
            let confirmPassword = $("#confirm-password").val();

            let isInvalid = false;
            if (name === "") {
              $("#name").addClass("is-invalid");
              isInvalid = true;
            }
            if (username === "") {
              $("#username").addClass("is-invalid");
              isInvalid = true;
            }
            if (password === "") {
              $("#password").addClass("is-invalid");
              isInvalid = true;
            }
            if (confirmPassword === "") {
              $("#confirm-password").addClass("is-invalid");
              isInvalid = true;
            }

            if (confirmPassword !== password) {
              isInvalid = true;
              showToast("Password and confirm password does not match", "error");
              $("#confirm-password").addClass("is-invalid");
            }

            // validate

            if (!isInvalid) {
              e.preventDefault();
              $.ajax({
                  type: "POST",
                  url: "{{.URL}}/api/v1/register",
                  contentType: "application/json",
                  data: JSON.stringify({
                      name: name,
                      username: username,
                      password: password,
                  }),
              }).done(function(data) {
                $("#name").val("");
                $("#username").val("");
                $("#password").val("");
                $("#confirm-password").val("");

                showToast("Sign up successfully", "success");  
              }).fail(function (jqXHR, textStatus, error) {
                $("#name").val("");
                $("#username").val("");
                $("#password").val("");
                $("#confirm-password").val("");  
                showToast(jqXHR.responseJSON.error, "error");
              });
            }
        })
            
      </script>
</body>
</html>